:root{
    --cor-fundo: rgb(76, 198, 255);
    --cor-principal: rgb(255, 255, 255);
    --cor-secundaria: rgb(222, 238, 255);
    --cor-link: rgb(10, 109, 84);
    --cor-link-hover: rgb(255, 37, 91);
    --cor-hover-primaria: rgb(164, 249, 255);
    --borda-principal: 0.2rem rgb(0, 0, 0) solid;
    --borda-secundaria: 0.1rem black solid;
}


/* Reseta margens padrão e define tamanho da fonte como 10px, tornando a medida REM mais prevísivel */
*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

a{
    font-size: inherit;
    color: var(--cor-link);
}
a:hover{
    color: var(--cor-link-hover)
}

/* Configuração das fontes */
h1{
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

h2{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

h3{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

p{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

figcaption{
    font-size: 1.5rem;
    font-style: italic;
}

.navbar li{
    width: 30%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    border: var(--borda-principal);
    background-color: var(--cor-secundaria);
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-height: 3rem;
}

.navbar li:hover{
    background-color: var(--cor-hover-primaria);
}

/* https://unsplash.com/pt-br/fotografias/teste-padrao-geometrico-azul-e-preto-abstrato-BdmU1Q2UP3Q */
body{
    background-color: var(--cor-fundo);
    background-image: url(img/logan-voss-BdmU1Q2UP3Q-unsplash.jpg);
    background-size: right;
    background-size: contain;
    background-repeat: repeat;
}

main{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5rem;
    background-color: var(--cor-principal);
    border: var(--borda-principal);
    box-shadow: 1rem 1rem;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.img-header h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.img-header{
    background-image: url(img/sam-schooler-E9aetBe2w40-unsplash.jpg);
    background-size: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    padding: 0;
    border: var(--borda-principal);
}

#persona5-hacking img{
    border: var(--borda-principal);
    width: 30%;
}
#persona5-hacking{
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.container-tabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

table{
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--borda-principal);
    box-shadow: 0.4rem 0.4rem;
}

tr, td, th{
    border: var(--borda-secundaria);
    margin: 0;
    padding: 1rem;
}

td{
    font-size: 1.5rem;
}
th{
    font-size: 2rem;
}